<html lang="en">
<head>
  <title>Instructions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
        .jumbotron { 
            background: linear-gradient(to left, rgba(62, 240, 231, 0.95),
              #261cbd);

        }

        .conatiner-fluid .btn {
    margin-top: 20px;
    background-color: #126586;
    color: rgb(10, 10, 10);
}

.panel-heading {
    color: rgba(14, 13, 13, 0.37) !important;
    background-color: #2d94bd !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-body{

            color: rgb(14, 13, 13) !important;
            background-color: #ecf1f3 !important;
}
h2{
    color: #FFFF;   
}
li{
    list-style: none;
}
ul{
    align-content: left;
}
        </style>


<body>
    <div class="goto" style="float: right; margin-right: 2%;margin-top: 3%"><a href="/logout" class="btn btn-default"><b>Logout</b></a> </div>
            <div class="goto" style="float: right; margin-right: 2%;margin-top: 3%" id="issuebtn" ><a href="/issues" class="btn btn-default"><b>Issue</b></a> </div>
            <div class="goto" style="float: right; margin-right: 2%;margin-top: 3%"><a href="/profile" class="btn btn-default"><b>Profile</b></a> </div>
            <div class="goto" style="float: right; margin-right: 2%;margin-top: 3%"><a href="/leaderboard" class="btn btn-default"><b>Rank</b></a> </div>
            <div class="goto" style="float: right; margin-right: 2%;margin-top: 3%"><a href="/timeline" class="btn btn-default"><b>Timeline</b></a> </div>
          </div>    
 <div class="jumbotron text-center">

    <h1>Garbage: the three broad categories</h1>
 <span>
<div class="row">
<ol>
<div class="col-sm-4" style="margin-left: -20px;">
<div class="panel panel-default text-center">
<div class="panel-heading">
    <li style="list-style-type: none; display: inline-block;"><h2><b>Organic waste<b></h2> 
     
</div>
<div class="panel-body">
      <ul>
        <strong>
        <li>kitchen waste</li>
        <li>vegetables</li> 
        <li>flowers</li> 
        <li>animal waste</li>
        <li>glass clippings</li>  
        <li> leaves</li>
        <li> fruits</li>
        </strong>
            
        
       <iframe  height="300" 
       src="https://www.youtube.com/embed/i0lN-FGfWWE?autoplay=1"></iframe>
       </ul>
    </li>
</div>

</div>
</div>


     <div class="col-md-4">
        <div class="panel panel-default text-center">
        <div class="panel-heading">
            <li style="list-style-type: none; display: inline-block;"><h2><b>Toxic waste</b></h2> 
             
        </div>
        <div class="panel-body">
              <ul>
                    <strong>
                            <li>old medicines</li>
                            <li>paints</li> 
                            <li> chemicals</li>
                            <li> bulds</li>
                            <li> spray cans</li>
                            <li> batteries</li>
                            <li> pesticides</li>
                        </strong> 
                    
                
               <iframe  height="300"
               src="https://www.youtube.com/embed/6ks1kXxBKy4?autoplay=1"></iframe>
               </ul>
            </li>
        </div>
    </div>
</div>

<div class="col-md-4">
        <div class="panel panel-default text-center">
        <div class="panel-heading">
            <li style="list-style-type: none; display: inline-block;"><h2><b>Recyclable</b></h2>    
             
        </div>
        <div class="panel-body">
              <ul>
                <strong>
                        <li>paper</li>
                        <li>glass</li> 
                        <li> metals</li>
                        <li> thermocol</li>
                        <li> plastic</li>
                        <li> wooden materials</li>
                        <li> electronic parts</li>
                </strong>
                    
                
               <iframe  height="300"
               src="https://www.youtube.com/embed/4JDGFNoY-rQ?autoplay=1"></iframe>
               </ul>
            </li>
        </div>
    </div>
</div>


</ol>
</div>
 </span>
 
 <div class ="conatiner-fluid">
        <button class="btn btn-default btn-lg">Back</button>
 </div>
 </div>
</body>
</html>
